<div class="card-container">
  <div class="card plant-card good">
    <a href="/edit/{{id}}"><i class="fa-regular fa-pen-to-square fa-lg edit-icon"></i></a>
    <a href="/plant-profile/{{id}}"> <i class="fas fa-info info-icon"></i></a>
     <img
      src="/assets/img/{{imageFile plant.common_name}}.jpg"
      alt="{{plant.common_name}}">

    <div class="card-title">
      <h4>{{nickname}}</h4>
    </div>
     
  </div>
</div>