

<div class="add-edit">
    <div class="container-left">
      <div class="heading add-edit-title">
        <h1>{{plant.nickname}}</h1>
    </div>
    <div class="container">
        <div class="card edit-card">
            {{#if plant.plant_id}}
                <img id="plant-image" src="/assets/img/{{imageFile plant.plant.common_name}}.jpg" alt="">
            {{else}}
                <img id="plant-image" src="/assets/img/african_violet.jpg" alt="">
            {{/if}}
        </div>
    </div>
    </div>
    <div class="container-right">
      <h2>Common Name</h2>
      <p>{{plant.common_name}}</p>
  
  
      <h2>Botanical Name</h2>
      <p>{{plant.botanical_name}}</p>
  
  
      <h2>Reccomended Watering Frequency</h2>
      <p>{{plant.watering_interval}}</p>

      <h2>Light</h2>
      <p>{{plant.light}}</p>
    
    
      <h2>Difficulty</h2>
      <p>{{plant.difficulty}}</p>
    
    
      <h2>Soil</h2>
      <p>{{plant.soil}}</p>
    
    
      <h2>Temperature</h2>
      <p>{{plant.temp}}</p>
    
    
      <h2>Soil</h2>
      <p>{{plant.soil}}</p>
    
      {{#if plant.pet_safe}}
      
        <h2>Non-toxic</h2>
    
      {{else}}
      
        <h2>This plant is not safe for pets!</h2>
      
      {{/if}}

    </div>
  </div>

