
<div class="add-edit">
    <div class="container-left">
      <div class="heading add-edit-title">
        <h1>{{plant.nickname}}</h1>
    </div>
    <div class="container">
        <div class="card edit-card">
            {{#if userPlant.plant_id}}
                <img id="plant-image" src="/assets/img/{{imageFile plant.common_name}}.jpg" alt="">
            {{else}}
                <img id="plant-image" src="/assets/img/african_violet.jpg" alt="">
            {{/if}}
        </div>
    </div>
    </div>
    <div class="container-right">
      <h3>Common Name: {{plant.common_name}}</h3>

      <h3>Botanical Name: {{plant.botanical_name}}</h3>

      <h3>Reccomended Watering Frequency: Every {{plant.watering_interval}} days</h3>

      <h3>Light: {{plant.light}}</h3>

      <h3>Difficulty: {{plant.difficulty}}</h3>
  
      <h3>Soil: {{plant.soil}}</h3>

      <h3>Temperature: {{plant.temp}}</h3>
    
      {{#if plant.pet_safe}}
        <h3>Non-toxic</h3>
      {{else}}
      
        <h3>This plant is not safe for pets!</h3>
      {{/if}}

    </div>
  </div>

