<h2>this is the homepage.handlebars view. It was inserted to the main view with a res.render() after a get request for '/'</h2>

<p>
This repo is set up to use express framework for creating web apps. </br> 
It uses mySQL and Sequelize to create databases. </br> 
The server.js file is set up to be served on heroku or locally. </br> 
I created this as a template to start server projects more easily and to wrap my head around what this code is actually doing.
</p>

<p>
    Helper test should show '3': </br>
    <!--this calls a helper function-->
    {{sample_function 1  2}}
</p>

<!-- This displays all the data from the tables -->
<P>------Plants-------</P>
{{#each plants as |plant|}}

<p>
   CommonName: {{plant.common_name}}</br>
    Botanical name: {{plant.botanical_name}}</br>
     Light:  {{plant.light}}</br>
      Days between watering: {{plant.watering_interval}}</br>
      Difficulty:  {{plant.difficulty}}</br>
      Soil: {{plant.soil}}</br>
      Temp:    {{plant.temp}}</br>

</p>
{{/each}}

<P>-------Users---------</P>
{{#each users as |user|}}

<p>
    {{user.username}} </br>
    {{user.email}} </br>
    {{user.password}} </br>
    </p>
{{/each}}

<P>--------User Plants--------</P>
{{#each userPlants as |userPlant|}}

<p>
    Name: {{userPlant.nickname}} </br>
     Plant ID: {{userPlant.plant_id}} </br>
      Plant Type: {{userPlant.plant.common_name}} </br>
     user ID: {{userPlant.user_id}}</br>
     Initial water date: {{userPlant.initial_water_date}} </br>
     Days between waterings: {{userPlant.watering_interval}} </br>
       Common_name: {{userPlant.plant.common_name}} </br>
         Username: {{userPlant.user.username}} </br>
</p>
{{/each}}


        